@media (max-width: 992px) { 
    body {
        display: flex;
        flex-direction: column;
        background: url(../images/bg-mobile.svg) no-repeat hsl(257, 40% 49%);
        background-size: cover;
    }

    .principal {
        display: flex;
        flex-direction: column;
        text-align: center;

        .conteudo-principal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 35px;
    }

}

@media (max-width: 576px) {
        body {
            display: flex;
            flex-direction: column;
            background: url(../images/bg-mobile.svg) no-repeat hsl(257, 40%, 49%);
            background-size: contain;
        }

        header  {
            display: flex;
            flex-direction: column;

            img {
                width: 200px;
            }
        }

        .principal {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }


        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 10px 10px 30px  ;

        }
        
    }


@media (max-width: 425px) {

    body {
        display: flex;
        flex-direction: column;
      
        padding: 0;
        
    }

    .cabecalho {
        img {
            width: 150px;
            margin: 25px
        }
    }

    .principal {
        display: flex;
        flex-direction: column;
        padding: auto;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;

        img {
            padding: 0 0 50px 50px;
            width: 340px;
        }

        .conteudo-principal {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        

            h3 {
                font-size: 2.5rem;
                width: 320px;
            }

            p {
                font-size: 1.2;
                width: 305px;
            }
        }

        button {
            font-size: 1.2rem;
            margin-top: 15px;
            padding: 10px 70px 10px 70px;
        }

    }

    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 50px 0; 
    }

  
}

